@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab Thin'),
  local('RobotoSlab-Thin'),
  url('../assets/fonts/robotoslabthin.woff2') format('woff2'),
  url('../assets/fonts/robotoslabthin.woff') format('woff'),
  url('../assets/fonts/robotoslabthin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab Light'),
  local('RobotoSlab-Light'),
  url('../assets/fonts/robotoslablight.woff2') format('woff2'),
  url('../assets/fonts/robotoslablight.woff') format('woff'),
  url('../assets/fonts/robotoslablight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab Regular'),
  local('RobotoSlab-Regular'),
  url('../assets/fonts/robotoslabregular.woff2') format('woff2'),
  url('../assets/fonts/robotoslabregular.woff') format('woff'),
  url('../assets/fonts/robotoslabregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab Bold'),
  local('RobotoSlab-Bold'),
  url('../assets/fonts/robotoslabbold.woff2') format('woff2'),
  url('../assets/fonts/robotoslabbold.woff') format('woff'),
  url('../assets/fonts/robotoslabbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
