.svg-user {
 path {
   fill: #C4C4C4;
   transition: .3s;
 }
  &:hover path{
    fill: #424242;
  }
  &.active path {
    fill: #85754A;
  }
}

.svg-socialnetwork {
  path {
    fill: #C4C4C4;
  }
  &:hover path{
    fill: #DFC800;
  }
}

button, .button {
  height: 46px;
  background: #86764B;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  line-height: 45px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  padding: 0 68px;
  cursor: pointer;
  &:hover {
    background: #424242;
  }
  &:active {
    background: #000;
  }
}

.header-h1 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Roboto Slab';
  font-weight: 700;
}

//handsontable
.handsontable th, .handsontable td{
  vertical-align: middle;
  border-color: #E5E5E5;
}