<template>
    <div class="header">
        <div class="header-burger" :class="{active: menuMob}" @click="menuMob = !menuMob">
            <span></span>
        </div>
        <div class="header-logo">
            <router-link to="/">
                <img src="~/assets/image/logo.png" alt="">
            </router-link>
        </div>
        <div class="header-menu" :class="{active: menuMob}">
            <router-link v-for="(item, index) in menu"
                         :key="index"
                         class="header-menu__item"
                         :class="{'active': currentRuteName === item.path}"
                         :to="item.path">
                {{ item.name }}
            </router-link>
        </div>
        <div class="header-prof">
            <svg class="svg-user" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.9994 0C6.72876 0 0 6.72937 0 15C0 23.2706 6.72876 30 14.9994 30C23.2694 30 29.9988 23.2706 29.9988 15C29.9988 6.72937 23.2706 0 14.9994 0ZM23.6482 23.267C23.6482 22.9202 23.6482 22.6755 23.6482 22.6755C23.6482 20.6298 21.2847 19.8836 20.0195 19.3422C19.5616 19.1471 18.6982 18.7314 17.8125 18.2982C17.5134 18.152 17.2439 17.7623 17.2101 17.4294L17.1122 16.4603C17.7901 15.8289 18.4009 14.9499 18.5042 13.9699H18.6571C18.8976 13.9699 19.1241 13.7898 19.1598 13.5693L19.3996 12.0872C19.4317 11.7707 19.1326 11.5785 18.8903 11.5785C18.897 11.5471 18.9024 11.5151 18.9054 11.4885C18.9362 11.3103 18.955 11.1381 18.9671 10.9707C18.9822 10.836 18.9942 10.6964 19.0009 10.552C19.0263 9.85238 18.9078 9.24034 18.7115 8.89777C18.5121 8.41866 18.21 7.95344 17.7895 7.55468C16.618 6.4454 15.2592 6.01341 14.1004 6.90518C13.3113 6.76864 12.3736 7.12933 11.6963 7.92262C11.3266 8.35582 11.0964 8.85125 10.9979 9.33882C10.9097 9.64273 10.8511 10.0107 10.8366 10.4088C10.8209 10.8517 10.8644 11.2571 10.9459 11.5852C10.7151 11.5997 10.4844 11.7894 10.4844 12.0885L10.7236 13.5705C10.7593 13.791 10.9858 13.9711 11.2263 13.9711H11.3634C11.5809 15.0308 12.144 15.9008 12.7669 16.5074L12.6727 17.4445C12.6389 17.7768 12.3694 18.1653 12.0697 18.3133C11.213 18.7314 10.369 19.1338 9.86386 19.3422C8.67362 19.8328 6.23515 20.6298 6.23515 22.6755V23.1383C4.2486 20.9989 3.02332 18.1442 3.02332 15.0018C3.02332 8.39691 8.39691 3.02332 15.0018 3.02332C21.6073 3.02332 26.9803 8.39691 26.9803 15.0018C26.9779 18.2058 25.7061 21.1137 23.6482 23.267Z" fill="#85754A"/>
            </svg>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Header",
        data() {
            return {
                menu: [
                    {name: "media", path: "/media"},
                    {name: "digital", path: "/digital"},
                    {name: "social", path: "/social"},
                    {name: "commerce", path: "/commerce"},
                    {name: "people", path: "/people"},
                ],
                menuMob: false
            }
        },
        computed: {
            currentRuteName () {
                return this.$route.path;
            }
        }
    }
</script>

<style scoped lang="less">
    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 10px 32px 0;
        border-bottom: 4px solid #E5E5E5;
        &-burger {
            display: none;
        }
        &-logo {
            margin-bottom: 11px;
        }
        &-menu {
            margin-bottom: 19px;
            font-family: "Roboto Slab";
            font-weight: 400;
            font-size: 14px;
            color: #1c1c1c;
            &__item {
                text-transform: uppercase;
                padding: 0 0px 2px;
                margin: 0 10px;
                color: inherit;
                border-bottom: 1px solid #fff;
                display: inline-block;
                text-decoration: none;
                transition: .2s;
                &:hover {
                    font-weight: 800;
                    color: #424242;
                    border-color: #1c1c1c;
                }
                &.active {
                    font-weight: 800;
                    color: #86764b;
                }
            }
        }
        &-prof {
            margin-bottom: 22px;
        }
    }

    @media (max-width: 620px) {
        .header {
            align-items: center;
            padding-bottom: 8px;
            position: relative;
            &-logo {
                margin-bottom: 0;
                img {
                    width: 67px;
                }
            }
            &-burger {
                display: block;
                width: 28px;
                height: 22px;
                position: relative;
                cursor: pointer;
                &:before {
                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 100%;
                    background: #fff;
                    top: 0;
                    left: 8px;
                    z-index: 1;
                    opacity: 1;
                    transition: .2s;
                }
                &.active {
                    span {
                        height: 4px;
                        background: none;
                        &:after {
                            top: 0px;
                            transform: rotate(45deg);
                            border-radius: 2px;
                        }
                        &:before {
                            top: 0;
                            transform: rotate(-45deg);
                            border-radius: 2px;
                        }
                    }
                    &:before {
                        opacity: 0;
                        left: 0;
                    }
                }
                span {
                    display: block;
                    width: 28px;
                    height: 6px;
                    position: relative;
                    background: #C4C4C4;
                    top: 8px;
                    transition: .3s;
                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: -8px;
                        left: 0px;
                        background: #C4C4C4;
                        transform: rotate(0deg);
                        transition: .3s;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 8px;
                        left: 0px;
                        background: #C4C4C4;
                        transform: rotate(0deg);
                        transition: .3s;
                    }
                }
            }

            &-prof {
                margin-bottom: 0;
            }

            &-menu {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: 100%;
                width: 100%;
                left: 0;
                z-index: 1;
                background: #fff;
                transition: opacity .3s;
                margin-top: 2px;
                flex-direction: column;
                align-items: center;
                padding: 24px 0 4px;
                display: flex;
                &__item {
                    margin-bottom: 20px;
                }
                &.active {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
</style>