<template>
    <div class="registration-form__form">
        <form action="">
            <input-text
                    :placeholder="'Логин'"
                    :errorMessage="errLogin"
                    :exampleInput="'example@publicismedia.ru'"
                    :type="'text'"
                    class="input"
                    @setModelInputText="setLoginName"></input-text>
            <input-text
                    :placeholder="'Пароль'"
                    :pass="'password'"
                    :exampleInput="'Пароль'"
                    class="input"
                    @setModelInputText="setLoginPassword"></input-text>
            <button class="standart" @click.prevent="enterToLogin">Войти</button>
        </form>
    </div>
</template>

<script>
    import InputText from "../UI/InputText";

    export default {
        name: "RegistrationForm",
        data() {
            return {
                login: "",
                pass: "",
                errLogin: ""
            }
        },
        components: {
            InputText,
        },
        methods: {
            setLoginName(val) {
                this.login = val;
            },
            setLoginPassword(val) {
                this.pass = val;
            },
            enterToLogin() {
                if (!this.login.length) {
                    this.errLogin = "Введите логин";
                } else {
                    this.errLogin = "";
                }
            }
        }
    }
</script>

<style scoped lang="less">
    .registration-form__form {
        padding: 0 42px;

        form {
            text-align: center;
        }

        .input {
            margin-bottom: 20px;
        }
    }


    @media (max-width: 620px) {
        .registration-form__form {
            padding: 0 0;
        }
    }
</style>