<template>
    <div class="registration-form__form">
        <form action="">
            <input-text
                    :placeholder="'Логин'"
                    :errorMessage="errLogin"
                    :type="'text'"
                    class="input"
                    @setModelInputText="setLoginName"></input-text>
            <input-text
                    :placeholder="'Email'"
                    :errorMessage="errEmail"
                    :exampleInput="'test@test.ru'"
                    :type="'text'"
                    class="input"
                    @setModelInputText="setLoginEmail"></input-text>
            <input-text
                    :placeholder="'Имя'"
                    :errorMessage="errName"
                    :exampleInput="'Вася'"
                    :type="'text'"
                    class="input"
                    @setModelInputText="setLoginFio"></input-text>
            <input-text
                    :placeholder="'Пароль'"
                    :errorMessage="errPass"
                    :type="'password'"
                    class="input"
                    @setModelInputText="setLoginPassword"></input-text>
            <button class="standart" @click.prevent="enterToLogin">Войти</button>
        </form>
    </div>
</template>

<script>
    import InputText from "../UI/InputText";
    import {validEmail, validPassword} from "../../plugins/validate";


    export default {
        name: "RegistrationForm",
        data() {
            return {
                login: "",
                errLogin: "",
                pass: "",
                errPass: "",
                email: "",
                errEmail: "",
                name: "",
                errName: ""
            }
        },
        components: {
            InputText,
        },
        methods: {
            setLoginName(val) {
                this.login = val;
            },
            setLoginEmail(val) {
                if(this.errEmail ) {
                    this.errEmail = "";
                }
                this.email = val;
            },
            setLoginFio(val) {
                this.name = val;
            },
            setLoginPassword(val) {
                if(this.errPass ) {
                    this.errPass = "";
                }
                this.pass = val;
            },
            enterToLogin() {
                this.errEmail = validEmail(this.email).errorMess;
                this.errPass = validPassword(this.pass).errorMess;
                if (!this.errEmail || !this.errPass) {
                    const val = {
                        pass: this.pass,
                        email: this.email,
                        login: this.login,
                        name: this.name
                    };
                }
            }
        }
    }
</script>

<style scoped lang="less">
    .registration-form__form {
        padding: 0 42px;

        form {
            text-align: center;
        }

        .input {
            margin-bottom: 20px;
        }
    }
</style>