<template>
    <div class="registration-form">
        <div class="registration-form__header">
            <div class="registration-form__header-title">
                Авторизация пользователей
            </div>

            <div class="registration-form__header-menu">
                <div
                        class="registration-form__header-menu__item"
                        :class="{active: typeInput === 'input'}"
                        @click="handleAddInputType('input')">
                    Вход
                </div>
                <div
                        class="registration-form__header-menu__item"
                        :class="{active: typeInput === 'registration'}"
                        @click="handleAddInputType('registration')">
                    Регистрация
                </div>
            </div>
        </div>

        <InputForm v-if="typeInput === 'input'"></InputForm>
        <RegistrationForm v-if="typeInput === 'registration'"></RegistrationForm>
    </div>
</template>

<script>
    import InputForm from "./InputForm";
    import RegistrationForm from "./RegistratonForm";

    export default {
        name: "SelectForm",
        data() {
            return {
                typeInput: "input",
            }
        },
        components: {
            InputForm,
            RegistrationForm
        },
        methods: {
            handleAddInputType(type) {
                this.typeInput = type;
            }
        }
    }
</script>

<style scoped lang="less">
    .registration-form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(255, 255, 255, 0.7);
            padding: 33px 20px 42px;
            max-width: 470px;
            width: 100%;

            &__header {

                &-title {
                    color: #86764B;
                    text-align: center;
                    font-size: 22px;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-bottom: 23px;
                }

                &-menu {
                    display: flex;
                    justify-content: center;
                    border-bottom: 1px solid #E5E5E5;
                    font-size: 14px;
                    text-transform: uppercase;
                    margin-bottom: 35px;

                    &__item {
                        padding: 0 5px 3px;
                        margin: 0 10px -1px;
                        cursor: pointer;

                        &.active {
                            border-bottom: 1px solid #85754A;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

    @media (max-width: 620px) {
        .registration {
            &-form {
                &__header {
                    &-title {
                        font-size: 18px;
                    }
                }
            }
        }
    }
</style>