<template>
    <div
            class="input-text"
            :class="{focused: focus}" >
        <div class="placeholder">
            <span>
                {{ placeholder }}
            </span>
        </div>
        <input
                :type="type || 'text'"
                v-model="text"
                :placeholder="placeholderText"
                @keyup.delete="setModelInputText"
                @focus="setFocus"
                @blur="setUnFocus"
        >
        <transition name="fade">
            <div class="error" v-if="errorMessage">
                {{ errorMessage }}
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        name: "InputText",
        data() {
            return {
                text: "",
                focus: false,
                placeholderText: ""
            }
        },
        props: ["placeholder", "errorMessage", "exampleInput", "type"],
        methods: {
            setModelInputText() {
                this.$emit("setModelInputText", this.text);
            },
            setFocus() {
                this.focus = true;
                this.placeholderText = this.exampleInput;
            },
            setUnFocus() {
                if(!this.text.length) {
                    this.focus = false;
                    this.placeholderText = "";
                }
            }
        },
        watch: {
            text(newVal) {
                if (newVal) {
                    this.setModelInputText();
                }
            }
        }

    }
</script>

<style scoped lang="less">
    .input-text{
        position: relative;
        background: #fff;
        border: 1px solid #E5E5E5;
        border-radius: 4px;
        transition: .3s;
        .placeholder {
            position: absolute;
            top: 50%;
            left: 17px;
            margin-top: -6px;
            font-size: 12px;
            line-height: 12px;
            color: #C4C4C4;
            padding: 0 3px;
            transition: .3s;
            &:after {
                content: "";
                bottom: 0;
                left: 0;
                height: 5px;
                width: 100%;
                background: #fff;
                position: absolute;
                z-index: 0;
            }
            span{
                position: relative;
                z-index: 1;
            }
        }
        input {
            padding: 0 20px;
            border: none;
            height: 44px;
            width: 100%;
            outline: none;
        }
        .error {
            position: absolute;
            top: ~"calc(100% + 4px)";
            width: 100%;
            left: 0;
            background: #FDEDED;
            padding: 8px 20px 8px;
            font-size: 12px;
            color:#FF7979;
            text-align: center;
            z-index: 2;

        }
        .fade-enter-active, .fade-leave-active {
            transition: opacity .3s;
        }
        .fade-enter, .fade-leave-to{
            opacity: 0;
        }
        &.focused {
            .placeholder {
                top: 0px;
                font-size: 10px;
                margin-top: -8px;
            }
        }
    }
</style>