<template>
    <div class="input-text" :class="{focused: focus}" >
        <div class="placeholder">
            <span>
                {{ placeholder }}
            </span>
        </div>
        <input
                :type="type"
                v-model="text"
                :placeholder="placeholderText"
                @keyup.delete="setModelInputText"
                @focus = "setFocus"
                @blur = "setUnFocus"
        >
        <div class="error" v-if="errorMessage">
            {{ errorMessage }}
        </div>
    </div>
</template>

<script>
    export default {
        name: "InputText",
        data() {
            return {
                text: "",
                focus: false,
                placeholderText: ""
            }
        },
        props: ["placeholder", "errorMessage", "type"],
        methods: {
            setModelInputText() {
                this.$emit("setModelInputText", this.text);
            },
            setFocus (){
                this.focus = true;
                this.placeholderText = "пароль";
            },
            setUnFocus(){
                if(!this.text.length) {
                    this.focus = false;
                    this.placeholderText = "";
                }
            }
        },
        watch: {
            text (newVal){
                if(newVal) {
                    this.setModelInputText();
                }
            }
        }

    }
</script>

<style scoped lang="less">

</style>