<template>
  <div>
    <Header />
    <div class="container" :class="{insidePage: routeName !== 'index'}">
      <nuxt/>
    </div>
    <Footer/>
  </div>
</template>

<style lang="less">
html {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  min-height: ~"calc(100vh - 106px - 80px)";
  &.insidePage {
    padding: 0 32px;
  }
}

@media (max-width: 620px) {
  .container {
    min-height: ~"calc(100vh - 89px - 80px)";
  }
}
@import "../node_modules/handsontable/dist/handsontable.full.css";
@import "../style/main.less";
@import "../style/fonts.less";

</style>

<script>
  import Header from "../components/Header";
  import Footer from "../components/Footer";
  // import { index } from "../index/index";

  export default {
      components: {
          Header,
          Footer
      },
    computed: {
        routeName(){
          return this.$route.name;
        }
    }
  }
</script>