<template>
    <div class="registration">
        <div class="registration-bg">
            <img src="../assets/image/regbg.jpg" alt="">
        </div>
        <SelectForm />
    </div>
</template>

<script>
    import SelectForm from "../components/index/SelectForm"

    export default {
        name: "index",
        components: {
            SelectForm
        }
    }
</script>

<style lang="less" scoped>
    .registration {
        min-height: 580px;
        position: relative;

        &-bg {
            width: 100%;
            height: 580px;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;

            img {
                min-width: 1024px;
                min-height: 580px;
                width: 100%;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &-form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(255, 255, 255, 0.7);
            padding: 33px 20px 42px;
            max-width: 470px;
            width: 100%;

            &__header {

                &-title {
                    color: #86764B;
                    text-align: center;
                    font-size: 22px;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-bottom: 23px;
                }

                &-menu {
                    display: flex;
                    justify-content: center;
                    border-bottom: 1px solid #E5E5E5;
                    font-size: 14px;
                    text-transform: uppercase;
                    margin-bottom: 35px;

                    &__item {
                        padding: 0 5px 3px;
                        margin: 0 10px -1px;
                        cursor: pointer;

                        &.active {
                            border-bottom: 1px solid #85754A;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 620px) {
        .registration {
            &-form {
                &__header {
                    &-title {
                        font-size: 18px;
                    }
                }
            }
        }
    }
</style>

