<template>
    <div class="people">
        <div class="header-h1">Поситители</div>
        <HotTable />
        <DownButtons />
    </div>
</template>

<script>

    import HotTable from '../components/people/HotTable';
    import DownButtons from '../components/people/DownButtons';

    export default {
        name: "people",
        components: {
            HotTable,
            DownButtons
        },
    }
</script>

<style scoped lang="less">
    .header-h1 {
        margin-top: 25px;
        margin-bottom: 20px;
    }


</style>