<template>
    <no-ssr>
        <ExelDowland
                class="button"
                :data="data"
                :fields="jsonSettings.json_fields"
                worksheet="file"
                name="file_name.xls">
            Скачать в .xls
        </ExelDowland>
    </no-ssr>
</template>

<script>
    import ExelDowland from '../../plugins/vue-exel';

    export default {
        name: "ButtonExelDowland",
        data() {
            return {
                data: [],
                jsonSettings: {
                    json_fields: {
                        "name": 'name',
                        "username": 'username',
                        "email": 'email',
                        "phone": 'phone',
                        "website": 'website',
                        "city": 'address.city',
                        "street": 'address.street',
                        "suite": 'address.suite',
                        "zipcode": 'address.zipcode',
                        "geo lat": 'address.geo.lat',
                        "geo lng": 'address.geo.lng',
                        "company bs": 'company.bs',
                        "company catchPhrase": 'company.catchPhrase',
                        "company name": 'company.name',
                    },
                    json_meta: [
                        [
                            {
                                'key': 'charset',
                                'value': 'utf-8'
                            }
                        ]
                    ],
                },
            }
        },
        components: {
            ExelDowland
        },
        computed: {
            peoples() {
                return this.$store.state.people;
            }
        },
        watch: {
            peoples(newVal) {
                if (newVal) {
                    this.data = newVal;
                }
            }
        }
    }
</script>

<style scoped lang="less"></style>