<template>
    <div class="people-buttons">
        <div class="button" @click="upLoadDateUsers">Згрузить с сервера</div>
         <ButtonExelDowland />
    </div>
</template>

<script>
    import ButtonExelDowland from './ButtonExelDowland';

    export default {
        name: "DownButtons",
        components: {
            ButtonExelDowland
        },
        methods: {
            upLoadDateUsers() {
                this.$store.dispatch('getUsers');
            }
        }
    }
</script>

<style scoped lang="less">
    .people {
        &-buttons {
            display: flex;
            margin-bottom: 20px;

            /deep/ .button {
                margin-right: 20px;
                padding: 0 40px;
            }
        }
    }
    @media (max-width: 620px) {
        .people-buttons {
            flex-direction: column;
            align-items: center;
            .button {
                width: 100%;
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }
</style>