<template>
    <no-ssr>
        <ExelHotTable ref="peopleTable" :settings="setting" class="people-table" :style="styleTable" />
    </no-ssr>
</template>

<script>
    import ExelHotTable from '../../plugins/vue-handsontable';

    export default {
        name: "HotTable",
        data() {
            return {
                setting: {
                    licenseKey: 'non-commercial-and-evaluation',
                    colHeaders: [
                        "name",
                        "username",
                        "email",
                        "phone",
                        "website",
                        "city",
                        "street",
                        "suite",
                        "zipcode",
                        "geo lat",
                        "geo lng",
                        "company bs",
                        "company catchPhrase",
                        "company name",
                    ],
                    rowHeaders: true,
                    rowWidth: 'auto',
                    rowHeadersHeight: 50,
                    rowHeights: 50,
                    manualRowResize: true,
                    manualColumnResize: true,
                    autoRowSize: {syncLimit: '40%'},
                    data: [],
                    minRows: 6,
                    columns: [
                        {data: 'name'},
                        {data: 'username'},
                        {data: 'email'},
                        {data: 'phone'},
                        {data: 'website'},
                        {data: 'address.city'},
                        {data: 'address.street'},
                        {data: 'address.suite'},
                        {data: 'address.zipcode'},
                        {data: 'address.geo.lat'},
                        {data: 'address.geo.lng'},
                        {data: 'company.bs'},
                        {data: 'company.catchPhrase'},
                        {data: 'company.name'},
                    ],
                    minSpareRows: 1,
                    afterChange: (change) => {
                        if ( this.$refs.peopleTable && change) {
                            this.hotTable = this.$refs.peopleTable.hotInstance;
                            this.$store.dispatch('updateUsers', this.hotTable.getSourceData());
                        }
                    }

                },
                styleTable: 'width: 100%; height: 375px; overflow: hidden; border-right: 1px solid #E5E5E5;',
                hotTable: null

            }
        },
        components: {
            ExelHotTable
        },
        computed: {
            peoples() {
                return this.$store.state.people;
            }
        },
        watch: {
            peoples(newVal) {
                if (newVal) {
                    this.setting.data = newVal;
                }
            }
        }
    }
</script>

<style scoped lang="less">
    .people-table {
            margin-bottom: 28px;

            /deep/ table {
                /deep/ th {
                    height: 50px;
                    padding: 0 15px;
                }
            }
        }

        &-buttons {
            display: flex;

            .button {
                margin-right: 20px;
                padding: 0 40px;
            }
        }
</style>